<div class="container sm:px-10">
    <div class="block xl:grid grid-cols-2 gap-4">
        
        <!-- BEGIN: Login Info -->
        <div class="hidden xl:flex flex-col min-h-screen">
            <a href="" class="-intro-x flex items-center pt-5">
                <img
                    alt="Taufiqproject - HTML Admin Template"
                    class="w-18"
                    src="/dist/images/header-logo.png"
                />
            </a>
            <div class="my-auto">
                <img
                    alt="Taufiqproject - HTML Admin Template"
                    class="-intro-x w-1/2 -mt-16"
                    src="/dist/images/logo-white.png"
                />
                <div
                    class="-intro-x text-white font-medium text-4xl leading-tight mt-10"
                >
                    A few more clicks to
                    <br />
                    sign in to your account.
                </div>
                <div
                    class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400"
                >
                    Manage all your gaming accounts in one place
                </div>
            </div>
        </div>
        <!-- END: Login Info -->
        <!-- BEGIN: Login Form -->
        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
            <div
                class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
            >
                <h2
                    class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left"
                >
                    Sign In
                </h2>
                <div class="intro-x mt-2 text-slate-400 xl:hidden text-center">
                    A few more clicks to sign in to your account. Manage all your
                    e-commerce accounts in one place
                </div>
                <form method="POST" action="/auth/login">
                    <div class="intro-x mt-8">
                        <input
                            type="text"
                            class="intro-x login__input form-control py-3 px-4 block" name="username" id="username"
                            placeholder="Username" required
                        />
                        <input
                            type="password"
                            class="intro-x login__input form-control py-3 px-4 block mt-4" name="password" id="password"
                            placeholder="Password" required
                        />
                    </div>
                    <div
                        class="intro-x flex text-slate-600 dark:text-slate-500 text-xs sm:text-sm mt-4"
                    >
                        <div class="flex items-center mr-auto">
                            <input
                                id="remember-me"
                                type="checkbox"
                                class="form-check-input border mr-2"
                            />
                            <label class="cursor-pointer select-none" for="remember-me"
                            >Remember me</label
                            >
                        </div>
                        <a href="">Forgot Password?</a>
                    </div>
                    <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                        <button
                            type="submit"
                            class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top"
                        >
                            Login
                        </button>
                    </div>
                </form>
                <form method="GET" action="/auth/google">
                    <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                        <button type="submit" class="btn btn-white py-3 px-4 w-full xl:w-64 xl:mr-3 align-top">
                            <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-0.5 0 48 48" version="1.1"> <title>Google</title><defs> </defs> <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Color-" transform="translate(-401.000000, -860.000000)"> <g id="Google" transform="translate(401.000000, 860.000000)"> <path d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24" id="Fill-1" fill="#FBBC05"> </path> <path d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333" id="Fill-2" fill="#EB4335"> </path> <path d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667" id="Fill-3" fill="#34A853"> </path> <path d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24" id="Fill-4" fill="#4285F4"> </path> </g> </g> </g> </svg>Continue with google
                        </button>
                    </div>
                </form>
                <div
                    class="intro-x mt-10 xl:mt-2 text-slate-600 dark:text-slate-500 text-center xl:text-left"
                >
                    By signing up, you agree to our
                    <a class="text-primary dark:text-slate-200" href=""
                    >Terms and Conditions</a
                    >
                    &
                    <a class="text-primary dark:text-slate-200" href=""
                    >Privacy Policy</a
                    >
                </div>
            </div>
        </div>
        <!-- END: Login Form -->
    </div>
</div>
